<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    这里的prototype 意思就是该对象创建使用的是原型模式-->
 <bean id="01" class="com.misaka.Test" scope="prototype"></bean>
</beans>
